[submodule "models/SuperGluePretrainedNetwork"]
	path = models/SuperGluePretrainedNetwork
	url = git@github.com:BumblebeeAS/SuperGluePretrainedNetwork.git
[submodule "models/Coarse_LoFTR_TRT"]
	path = models/Coarse_LoFTR_TRT
	url = git@github.com:Kolkir/Coarse_LoFTR_TRT.git
